:root {
                
  --gray-50: #f3f3f2; 
  --gray-100: #e7e6e4; 
  --gray-200: #cececa; 
  --gray-300: #b6b5af; 
  --gray-400: #9d9c95; 
  --gray-500: #85837a; 
  --gray-600: #6a6962; 
  --gray-700: #504f49; 
  --gray-800: #353531; 
  --gray-900: #1b1a18;
  
  --light-text-over-dark: var(--gray-100);
  --light-text-over-light: var(--gray-700);
  --dark-text-over-dark: var(-gray-400);
  --dark-text-over-light: var(--gray-900);
  
  --yellow-50: #f8f6ec; 
  --yellow-100: #f2eed9; 
  --yellow-200: #e4ddb4; 
  --yellow-300: #d7cc8e; 
  --yellow-400: #cabb68; 
  --yellow-500: #bca943; 
  --yellow-600: #978835; 
  --yellow-700: #716628; 
  --yellow-800: #4b441b; 
  --yellow-900: #26220d; 
  
  --light-background: var(--yellow-100);
  --dark-background: var( --yellow-900);


  --lime-50: #f4f8ec; 
  --lime-100: #e9f2d9; 
  --lime-200: #d3e4b4; 
  --lime-300: #bdd78e; 
  --lime-400: #a8ca68; 
  --lime-500: #92bc43; 
  --lime-600: #759735; 
  --lime-700: #577128; 
  --lime-800: #3a4b1b; 
  --lime-900: #1d260d; 
  
  --green-50: #eef8ec; 
  --green-100: #ddf2d9; 
  --green-200: #bbe4b4; 
  --green-300: #99d78e; 
  --green-400: #77ca68; 
  --green-500: #56bc43; 
  --green-600: #449735; 
  --green-700: #337128; 
  --green-800: #224b1b; 
  --green-900: #11260d; 
  
  --teal-50: #ecf8f0; 
  --teal-100: #d9f2e2; 
  --teal-200: #b4e4c5; 
  --teal-300: #8ed7a8; 
  --teal-400: #68ca8a; 
  --teal-500: #43bc6d; 
  --teal-600: #359757; 
  --teal-700: #287142; 
  --teal-800: #1b4b2c; 
  --teal-900: #0d2616; 
  
  --cyan-50: #ecf8f6; 
  --cyan-100: #d9f2ee; 
  --cyan-200: #b4e4dd; 
  --cyan-300: #8ed7cc; 
  --cyan-400: #68cabb; 
  --cyan-500: #43bca9; 
  --cyan-600: #359788; 
  --cyan-700: #287166; 
  --cyan-800: #1b4b44; 
  --cyan-900: #0d2622; 
  
  --blue-50: #ecf4f8; 
  --blue-100: #d9e9f2; 
  --blue-200: #b4d3e4; 
  --blue-300: #8ebdd7; 
  --blue-400: #68a8ca; 
  --blue-500: #4392bc; 
  --blue-600: #357597; 
  --blue-700: #285771; 
  --blue-800: #1b3a4b; 
  --blue-900: #0d1d26; 
  
  --indigo-50: #eceef8; 
  --indigo-100: #d9ddf2; 
  --indigo-200: #b4bbe4; 
  --indigo-300: #8e99d7; 
  --indigo-400: #6877ca; 
  --indigo-500: #4356bc; 
  --indigo-600: #354497; 
  --indigo-700: #283371; 
  --indigo-800: #1b224b; 
  --indigo-900: #0d1126; 
  
  --violet-50: #f0ecf8; 
  --violet-100: #e2d9f2; 
  --violet-200: #c5b4e4; 
  --violet-300: #a88ed7; 
  --violet-400: #8a68ca; 
  --violet-500: #6d43bc; 
  --violet-600: #573597; 
  --violet-700: #422871; 
  --violet-800: #2c1b4b; 
  --violet-900: #160d26; 
  
  --purple-50: #f6ecf8; 
  --purple-100: #eed9f2; 
  --purple-200: #ddb4e4; 
  --purple-300: #cc8ed7; 
  --purple-400: #bb68ca; 
  --purple-500: #a943bc; 
  --purple-600: #883597; 
  --purple-700: #662871; 
  --purple-800: #441b4b; 
  --purple-900: #220d26; 
  
  --pink-50: #f8ecf4; 
  --pink-100: #f2d9e9; 
  --pink-200: #e4b4d3; 
  --pink-300: #d78ebd; 
  --pink-400: #ca68a8; 
  --pink-500: #bc4392; 
  --pink-600: #973575; 
  --pink-700: #712857; 
  --pink-800: #4b1b3a; 
  --pink-900: #260d1d; 
  
  --red-50: #f8ecee; 
  --red-100: #f2d9dd; 
  --red-200: #e4b4bb; 
  --red-300: #d78e99; 
  --red-400: #ca6877; 
  --red-500: #bc4356; 
  --red-600: #973544; 
  --red-700: #712833; 
  --red-800: #4b1b22; 
  --red-900: #260d11; 
  
  --orange-50: #f8f0ec; 
  --orange-100: #f2e2d9; 
  --orange-200: #e4c5b4; 
  --orange-300: #d7a88e; 
  --orange-400: #ca8a68; 
  --orange-500: #bc6d43; 
  --orange-600: #975735; 
  --orange-700: #714228; 
  --orange-800: #4b2c1b; 
  --orange-900: #26160d; 
  
  }

body {
  margin: 0;
  font-family: Verdana;
  background: var(--dark-background);
  color: var(--light-text-over-dark);
}
